services:
  blueportel:
    build: .
    container_name: blueportel_app
    restart: always
    expose:
      - "3000"
    environment:
      - NODE_ENV=production

  caddy:
    image: caddy:latest
    container_name: caddy_server
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - blueportel

volumes:
  caddy_data:
  caddy_config:
